<header>
    <div class="HeadLink">
        <img src="./images/logo.png" alt="...">
        <div>
            <a href="/product">商品列表</a>
            <a href="/parity">比價車</a>
            <a href="">討論區</a>
        </div>
    </div>
    <div class="HeadLogin">
        <a href="">登入</a>
    </div>
</header>