<header>
    <div class="HeadLink">
        <img src="./img/LOGO確定檔_工作區域 1.png" alt="">
        <div>
            <a href="">商品列表</a>
            <a href="">比價車</a>
            <a href="">討論區</a>
        </div>
    </div>
    <% if(!session.user) { %>
        <div class="HeadLogin">
            <a href="/login">登入</a>
        </div>
            <% }else { %>
                <div class="HeadMember">
                    <ul>
                        <li>
                            <img src="./img/會員圖一_工作區域 1.png" alt="">
                            <ul class="Member">
                                <li><a href="">會員專區</a></li>
                                <li><a href="/logout">登出</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            <% } %>
</header>